{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{%load static%}
  <div class="row justify-content-center">
    <div class="col-md-3"> 
      <h1>Привет, я Саша!</h1>
      <p>
        <img src="{%static 'img/avatar.png' %}" width="300" height="360">
      </p>
    </div>
    <div class="col-md-2">
      <h1>Ссылки</h1>
      <ul> 
        <li>
          <h4>
            <a href="https://github.com/Sanchess58?tab=repositories">Github</a>
          </h4>
        </li>
        <li>
          <h4>
            <a href="https://vk.com/id168383724">VK</a>
          </h4>
        </li>
      </ul>
    </div> 
    <div class="col-md-2">
      <h1>Обо мне</h1>
      <p>
        В 2020 году поступил в университет, где увлекся программированием.
        Начал работать с AR и VR приложениями, выиграл 
        <a href="https://pnzgu.ru/news/2021/04/2/10092773">
          ректорский грант
        </a> 
        реализовал проект по созданию AR-приложения.
        Летом с командой выиграли конкурс "Студенческий стартап" с VR-приложением. 
        Далее захотел заняться backend-разработкой и подвернулась возможность пройти курсы, 
        <b> выбрал Яндекс.Практикум и не пожалел 🙂</b>
      </p>
    </div>
  </div>
{% endblock %} 