{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row justify-content-center">
  <aside class="col-12 col-md-3">
    <h1>Мой стек технологий</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Python</b>
      </li>
      <li class="list-group-item">
        <b>SQL</b>
      </li>
      <li class="list-group-item">
        <b>Django</b>
      </li>
      <li class="list-group-item">
        <b>Telebot</b>
      </li>
      <li class="list-group-item">
        <b>Unreal Engine 4</b>
      </li>
    </ul>
  </aside>
</div>
{% endblock %} 